---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="steve taylor witte - about"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
>
  <section class="mt-6">
    <h1 class="mb-4 border-b-2 text-base border-slate-300">ABOUT</h1>
    <p>
      A software engineer with extensive experience in web development, including
      traditional MVC, serverless, SQL, and more. Creative problem solver regardless of the language,
      with a focus on Ruby, PHP, and Javascript. Creator of programming education,
      music tech, and open source content
    </p>
  </section>
  <section class="mt-6">
    <h2 class="mb-4 border-b-2 text-base border-slate-300">QUICK LINKS</h2>
    <ul class="flex flex-wrap">
      <li class="m-4">
        <a class="text-lg underline" href="https://www.github.com/stevetwitte">github.com/stevetwitte</a>
      </li>
      <li class="m-4">
        <a class="text-lg underline" href="https://www.linkedin.com/in/stevetwitte">linkedin.com/in/stevetwitte</a>
      </li>
      <li class="m-4">
        <a class="text-lg underline" href="https://drive.google.com/file/d/1E8jNiwzaaZ34FYF0X69w2GU36FFupCsS/view?usp=sharing">resume-stephen-witte.pdf</a>
      </li>
      <li class="m-4">
        <a class="text-lg underline" href="mailto:stevetwitte@gmail.com">stevetwitte@gmail.com</a>
      </li>
    </ul>
  </section>
</Layout>
